<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refund.root.mapper.RefundRequestsMapper">
    
    <resultMap type="RefundRequests" id="RefundRequestsResult">
        <result property="requestId"    column="request_id"    />
        <result property="requestStatus"    column="request_status"    />
        <result property="amount"    column="amount"    />
        <result property="voucherUrl"    column="voucher_url"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="rejectReason"    column="reject_reason"    />
        <result property="userId"    column="user_id"    />
        <result property="adminId"    column="admin_id"    />
        <result property="paymentMethod"    column="payment_method"    />
        <result property="paymentNumber"    column="payment_number"    />
        <result property="requestNumber"    column="request_number"    />
    </resultMap>

    <sql id="selectRefundRequestsVo">
        select request_id, request_status, amount, voucher_url, create_time, update_time, reject_reason, user_id, admin_id, payment_method, payment_number, request_number from refund_requests order by update_time
    </sql>

    <select id="selectRefundRequestsList" parameterType="RefundRequests" resultMap="RefundRequestsResult">
        <include refid="selectRefundRequestsVo"/>
        <where>  
            <if test="requestStatus != null "> and request_status = #{requestStatus}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="adminId != null "> and admin_id = #{adminId}</if>
            <if test="paymentMethod != null "> and payment_method = #{paymentMethod}</if>
            <if test="requestNumber != null  and requestNumber != ''"> and request_number = #{requestNumber}</if>
        </where>
    </select>
    
    <select id="selectRefundRequestsByRequestId" parameterType="Long" resultMap="RefundRequestsResult">
        <include refid="selectRefundRequestsVo"/>
        where request_id = #{requestId}
    </select>

    <insert id="insertRefundRequests" parameterType="RefundRequests" useGeneratedKeys="true" keyProperty="requestId">
        insert into refund_requests
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="requestStatus != null">request_status,</if>
            <if test="amount != null">amount,</if>
            <if test="voucherUrl != null">voucher_url,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="userId != null">user_id,</if>
            <if test="adminId != null">admin_id,</if>
            <if test="paymentMethod != null">payment_method,</if>
            <if test="paymentNumber != null">payment_number,</if>
            <if test="requestNumber != null">request_number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="requestStatus != null">#{requestStatus},</if>
            <if test="amount != null">#{amount},</if>
            <if test="voucherUrl != null">#{voucherUrl},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="userId != null">#{userId},</if>
            <if test="adminId != null">#{adminId},</if>
            <if test="paymentMethod != null">#{paymentMethod},</if>
            <if test="paymentNumber != null">#{paymentNumber},</if>
            <if test="requestNumber != null">#{requestNumber},</if>
         </trim>
    </insert>

    <update id="updateRefundRequests" parameterType="RefundRequests">
        update refund_requests
        <trim prefix="SET" suffixOverrides=",">
            <if test="requestStatus != null">request_status = #{requestStatus},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="voucherUrl != null">voucher_url = #{voucherUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="adminId != null">admin_id = #{adminId},</if>
            <if test="paymentMethod != null">payment_method = #{paymentMethod},</if>
            <if test="paymentNumber != null">payment_number = #{paymentNumber},</if>
            <if test="requestNumber != null">request_number = #{requestNumber},</if>
        </trim>
        where request_id = #{requestId}
    </update>
    <update id="updateRefundRequestsStatus" parameterType="String">
        update refund_requests
        set request_status = #{status} ,update_time = now()
        where request_id in
        <foreach item="requestId" collection="requestIds" open="(" separator="," close=")">
            #{requestId}
        </foreach>
    </update>

    <delete id="deleteRefundRequestsByRequestId" parameterType="Long">
        delete from refund_requests where request_id = #{requestId}
    </delete>

    <delete id="deleteRefundRequestsByRequestIds" parameterType="String">
        delete from refund_requests where request_id in 
        <foreach item="requestId" collection="array" open="(" separator="," close=")">
            #{requestId}
        </foreach>
    </delete>
</mapper>