<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refund.root.mapper.RfFeedbackMapper">
    
    <resultMap type="RfFeedback" id="RfFeedbackResult">
        <result property="feedbackId"    column="feedback_id"    />
        <result property="userId"    column="user_id"    />
        <result property="feedbackType"    column="feedback_type"    />
        <result property="content"    column="content"    />
        <result property="contactInfo"    column="contact_info"    />
        <result property="feedbackStatus"    column="feedback_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="adminId"    column="admin_id"    />
        <result property="handleRemark"    column="handle_remark"    />
    </resultMap>

    <sql id="selectRfFeedbackVo">
        select feedback_id, user_id, feedback_type, content, contact_info, feedback_status, create_time, admin_id, handle_remark from rf_feedback
    </sql>

    <select id="selectRfFeedbackList" parameterType="RfFeedback" resultMap="RfFeedbackResult">
        <include refid="selectRfFeedbackVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="feedbackType != null "> and feedback_type = #{feedbackType}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="contactInfo != null  and contactInfo != ''"> and contact_info = #{contactInfo}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectRfFeedbackByFeedbackId" parameterType="Long" resultMap="RfFeedbackResult">
        <include refid="selectRfFeedbackVo"/>
        where feedback_id = #{feedbackId}
    </select>

    <insert id="insertRfFeedback" parameterType="RfFeedback" useGeneratedKeys="true" keyProperty="feedbackId">
        insert into rf_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="feedbackType != null">feedback_type,</if>
            <if test="content != null">content,</if>
            <if test="contactInfo != null">contact_info,</if>
            <if test="feedbackStatus != null">feedback_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="adminId != null">admin_id,</if>
            <if test="handleRemark != null">handle_remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="feedbackType != null">#{feedbackType},</if>
            <if test="content != null">#{content},</if>
            <if test="contactInfo != null">#{contactInfo},</if>
            <if test="feedbackStatus != null">#{feedbackStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="adminId != null">#{adminId},</if>
            <if test="handleRemark != null">#{handleRemark},</if>
         </trim>
    </insert>

    <update id="updateRfFeedback" parameterType="RfFeedback">
        update rf_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="feedbackType != null">feedback_type = #{feedbackType},</if>
            <if test="content != null">content = #{content},</if>
            <if test="contactInfo != null">contact_info = #{contactInfo},</if>
            <if test="feedbackStatus != null">feedback_status = #{feedbackStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="adminId != null">admin_id = #{adminId},</if>
            <if test="handleRemark != null">handle_remark = #{handleRemark},</if>
        </trim>
        where feedback_id = #{feedbackId}
    </update>

    <delete id="deleteRfFeedbackByFeedbackId" parameterType="Long">
        delete from rf_feedback where feedback_id = #{feedbackId}
    </delete>

    <delete id="deleteRfFeedbackByFeedbackIds" parameterType="String">
        delete from rf_feedback where feedback_id in 
        <foreach item="feedbackId" collection="array" open="(" separator="," close=")">
            #{feedbackId}
        </foreach>
    </delete>
</mapper>