<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refund.root.mapper.RfProductsMapper">

    <!-- 产品结果映射 -->
    <resultMap type="com.refund.root.domain.Product" id="ProductResult">
        <result property="productId"    column="product_id"    />
        <result property="originalPrice" column="original_price"/>
        <result property="value"         column="value"         />
        <result property="refundRatio"   column="refund_ratio"  />
        <result property="hash"          column="hash"          />
    </resultMap>

    <!-- 根据hash值查询产品ID -->
    <select id="findIdByHash" parameterType="String" resultType="Long">
        SELECT product_id
        FROM rf_products
        WHERE hash = #{hash}
    </select>

    <!-- 根据产品ID查询产品信息 -->
    <select id="selectById" parameterType="Long" resultMap="ProductResult">
        SELECT product_id, original_price, value, refund_ratio, hash
        FROM rf_products
        WHERE product_id = #{productId}
    </select>

    <!-- 插入产品信息 -->
    <insert id="insert" parameterType="com.refund.root.domain.Product" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO rf_products (original_price, value, refund_ratio, hash)
        VALUES (#{originalPrice}, #{value}, #{refundRatio}, #{hash})
    </insert>

</mapper>
